<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Git Branching Demo</title>

    <!-- <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/> -->
    <link rel="stylesheet" th:href="@{/css/home.css}"/>

</head>

    <body>
        <!-- <section id="section-header" class="section">
            <div id="header-content-container">
                <div id="app-details-container" class="header-object">
                    <img id="app-logo-1" src="../img/logo-evil.png">
                    <p id="app-title">SQL Injection Kitty</p>
                    <img id="app-logo-2" src="../img/logo-evil.png">
                </div>
            </div>
        </section> -->
        <section id="section-landing" class="section">
        	<p id="landing-title">Welcome to SQL Injection Kitty!</p>
            <img id="app-logo" src="../img/logo-db.png">
            <p id="landing-description">Our guides will be Parameterized Query Kitty (good cat) and SQL Injection Kitty (baaad cat)</p>
        	<p id="landing-prompt" class="prompt">Scroll down to view our guest book</p>
        </section>
        
        <section id="section-log" class="section">
        	<p id="log-header" class="prompt">SQL Injection Kitty Guest Book</p>
            <div id="log-container">
                <!-- <div id="log-loading-container">
                    <i></i>
                    <p>Loading guest book entries . . . </p>;
                </div> -->
                <div id="log-table-container">
                    <table id="log-table">
						<tr>
							<th id="col-name-header" class="header">Name</th>
							<th id="col-message-header" class="header">Message</th>
						</tr>
						<tr>
							<td>Alfreds Futterkiste</td>
							<td>Cats rule</td>
						</tr>
					</table>
                </div>
                <div id="log-table-container">
                </div>
            </div>
        </section>
        
        <section id="section-form" class="section">
        	<div id="form-header">
        		<p class="prompt">Write in the guest book by filling out the form below</p>
        	</div>
            <div id="log-form-container">
                <form id="log-form">
                    <div class="form-input-container">
                        <label>Your Name</label>
                        <input id="input-user" type="text"> 
                    </div>
                    <div id="message-input-container" class="form-input-container">
                        <label>Your Message</label>
                        <textarea id="input-message"></textarea> 
                    </div>
                    <div id="btn-submit-container">
                        <button id="btn-submit-prepared" class="btn-submit-entry" type="button" value="Submit">
                        	Submit with Prepared Statement Kitty
                        	<img class="btn-submit-image" src="../img/logo-good.png">
                       	</button>
                        <button id="btn-submit-injection" class="btn-submit-entry" type="button" value="Submit">
                        	Submit with SQL Injection Kitty
                        	<img class="btn-submit-image" src="../img/logo-evil.png">
                        </button>
                    </div>
                </form>
            </div>
        </section>
        
        <section id="section-footer" class="section">
            <div id="footer-content-container">
                <div id="about-container" class="footer-object">
                	Lorem ipsum dolores umbridge Lorem ipsum dolores umbridge Lorem ipsum dolores umbridge Lorem ipsum dolores umbridge Lorem ipsum dolores umbridge 
                	<br>
                	<br>
                	By Tim Johnston
                </div>
            </div>
        </section>  
    </body>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>

</html>